body {
    text-align: center;
    background-image: url("../img/El Capitan 2.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

li {
  font-size: 20px;
  list-style: none;
  width: 60%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.results {
  overflow: auto;
}

#output {
  color: white;
}

.navbar {
  text-align: left;
  font-size: 20px;
}

.navbar a {
  color: white;
}

#gear, #catalogedHunts, #huntIdeas, #questions {
  display: none;
}

#gear1, #catalogedHunts1, #huntIdeas1, #questions1 {
  font-size: 20px;
  margin-left: 10px;
}

.search {
  font-size: 20px;
}

#thread {
  font-size: 15px;
}

#submit {
  color: blue;
}

#threadTitle {
  width: 500px;
}

.top {
  margin-bottom: 100px;
  color: white;
}

.bottom {
  color: white;
}
