body {
    background-image: url("../img/Yosemite 3.jpg");
    background-size: cover;
    height: 100vh;
    /*color: #3C464F;*/
    color: orange;
}

.sidebar {
  color: white;
}

#current-hunts {
  color: orange;
  font-size: 20px;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}

.create {
  display: none;
}

.search {
  display: none;
}

.showHunt {
  display: none;
}

.showHunt li{
  font-size: 20px;
}

.showHuntDescription {
  font-size: 20px;
}

.steps{
  float: left;
}
#no-matches {
  display: none;
}

#hunt-description {
  min-width: 700px;
  max-width: 700px;
  min-height: 150px;
  max-height: 150px;
}

#hunt-name {
  min-width: 700px;
  max-width: 700px;
}

.steps {
  min-width: 600px;
  max-width: 600px;
}

.coords {
  
}

#nav-bar {
  text-align: center;
  background-color: rgba(60, 70, 79, 0);
  border: none;
}

.navbarText {
  padding-top: 13px;
}

.navbarText a {
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}
