body {
    background-image: url("../img/Yosemite 3.jpg");
    background-size: cover;
    height: 100vh;
    /*color: #3C464F;*/
    color: #3C464F;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}

.create {
  display: none;
}

.search {
  display: none;
}

#msg-title {
  min-width: 700px;
  max-width: 700px;
}

#msg-body {
  min-width: 700px;
  max-width: 700px;
  min-height: 300px;
  max-height: 300px;
}

#search-name {
  min-width: 700px;
  max-width: 700px;
}
.msgDescription {
  display: none;
}

.msgList {
  font-weight: bolder;
  font-size: 20px;
}

#nav-bar {
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.navbarText {
  padding-top: 13px;
}

.navbarText a{
  padding-left: 20px;
  padding-right: 20px;
}
