body {
    background-image: url("../img/Mountain Range.jpg");
    background-size: cover;
    height: 100vh;
    /*color: #3C464F;*/
    color: white;
    margin-top: 20px;
}

.showMsg {
  display: none;
}

#msg-reply {
  min-width: 700px;
  max-width: 700px;
  min-height: 150px;
  max-height: 150px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.secondImg {
  float: right;
  background-attachment: fixed;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}

.create {
  display: none;
}

.search {
  display: none;
}

.sidebar {
  opacity: 0.7;
}

.sidebar a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.sidebar a:hover {
  color: rgb(84, 120, 154);
  text-decoration: none;
  cursor: pointer;
}

#msg-title {
  min-width: 700px;
  max-width: 700px;
}

#msg-body {
  min-width: 700px;
  max-width: 700px;
  min-height: 300px;
  max-height: 300px;
}

#search-name {
  min-width: 700px;
  max-width: 700px;
}
.msgDescription {
  display: none;
}

.msgList {
  font-weight: bolder;
  font-size: 20px;
}
